.idea/
/Swing_&_JavaFX/AdditionGuiProjectA/target/
/Swing_&_JavaFX/AdditionGuiAnonymous/target/
/Swing_&_JavaFX/PrintMessage/target/
/Swing_&_JavaFX/PrintMessageOutisideClass/target/
/JavaFX Layouts/BorderLayoutExample/target/
/SocketProgramming/target/
.aider*
