.idea/
/Swing_&_JavaFX/AdditionGuiProjectA/target/
/Swing_&_JavaFX/AdditionGuiAnonymous/target/
/Swing_&_JavaFX/PrintMessage/target/
/Swing_&_JavaFX/PrintMessageOutisideClass/target/
/JavaFX Layouts/BorderLayoutExample/target/
/SocketProgramming/target/
.aider*
/RMI Architecture/RMI_StringOperations/target/
/Swing/AdditionGuiAnonymous/target/
/Swing/AdditionGuiProject/target/
/Swing/AdditionGuiProjectA/target/
/Swing/PrintMessage/target/
/Swing/PrintMessageAnonymous/target/
/Swing/PrintMessageOutisideClass/target/
/RMI Architecture/RMI_StringOperationsGUI/target/
